.card-custom {
    border: 2px solid #231E5E;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    color: #231E5E;
}

.btn-custom {
    background-color: #231E5E;
    color: white;
}

.btn-custom:hover {
    background-color: #1b1747;
}

.login-card {
    border: 2px solid #0000FF;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.login-card h3 {
    margin-bottom: 5%;
    margin-left: 25%;
    font-weight: bold;
}

.btn-green {
    background-color: #006400;
    color: #FFFFFF;
    border: none;
}

.btn-green:hover {
    background-color: #004d00;
}

.carousel-inner img {
    width: 75%;
    height: 150px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.content-wrapper {
    margin-bottom: 80px;
}
